#app {
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

@media (min-width: 1024px) {
  #app {
    display: block !important;
    grid-template-columns: none !important;
    padding: 0 !important;
  }
}

body {
  margin: 0;
  padding: 0;
}